<div class="container"  @keydown={{_onkeydown}}>
	<div class="{{classes.viewport}}">
		<div class="pages" style="{{styles.pages}}">
			<div class="page main-page" style="{{styles.main}}">
				{{#if hasImage}}
					<div class="image">
						<slot name="image"></slot>
					</div>
				{{/if}}

				<div class="{{classes.content}}">
					<div class="important-area">

						<!-- Heading & subheading -->
						<div class="heading">
							<slot name="heading"></slot>
						</div>
						<div class="subheading">
							<slot name="subheading"></slot>
						</div>

						<!-- Tags list -->
						<div class="tags">
							{{#each tags}}
								<span class="tag">
								<slot name="{{this._individualSlot}}"></slot>
							</span>
							{{/each}}
						</div>

						<!-- Body text line -->
						<div class="bodyText">
							<slot name="bodyText"></slot>
						</div>

						<!-- Footnote line -->
						<div class="footnote">
							<slot name="footnote"></slot>
						</div>
					</div>

					{{#unless needsNavigation}}
						<div class="description-area">
							<slot></slot>
						</div>
					{{/unless}}
					<div class="status-area">
						<div class="status">
							<slot name="status"></slot>
						</div>
						<div class="statusDescription">
							<slot name="statusDescription"></slot>
						</div>
					</div>
				</div>
			</div>
			<div
				class="page desc-page"
				style="{{styles.desc}}"
			>
				{{#if needsNavigation}}
				<slot></slot>
				{{/if}}
			</div>
		</div>
	</div>

	{{#if needsNavigation}}
		<div class="dots-line">
			<div class="dots" @click={{togglePage}}>
				<div class="{{classes.firstDot}}"></div>
				<div class="{{classes.secondDot}}"></div>
			</div>
		</div>
	{{/if}}
</div>